section{
    width: 55%;
    height: 55%;
    background-color: rgb(255, 255, 255);
    margin: 0% auto;
}
strong{
    color: orangered;
}
#logo{
    width: 150px;
    height: 0%;
}
img{
    width: 30%;
    height: 0%;
}
div{
    width: 100%;
    margin: 0% auto;
}