body{
    background-color: rgb(255, 255, 255);
}
strong{
    color: rgb(255, 255, 255);
    margin: 0% auto;
}
#text{
    height: 50%;
    color: black;
    margin: 0% auto;
}
#text2{
    height: 50%;
    color: black;
    margin: 0% auto;
}
#text3{
    height: 50%;
    color: black;
    margin: 0% auto;
}
#text4{
    height: 50%;
    color: black;
    margin: 0% auto;
}
h1{
    height: 50%;
    width: 300px;
    background-color: blue;
    margin: 0% auto;
}
h2{
    height: 50%;
    width: 300px;
    background-color: blue;
    margin: 0% auto;
}
h3{
    height: 50%;
    width: 300px;
    background-color: blue;
    margin: 0% auto;
}
h4{
    height: 50%;
    width: 300px;
    background-color: blue;
    margin: 0% auto;
}
h5{
    height: 50%;
    width: 300px;
    background-color: blue;
    margin: 0% auto;
}
#imagen{
    height: 50%;
    border: aqua 30px;
    width: 300px;
    margin-left: 517px ;
}